<div class="row">
	<aside class="col-md-3 hidden-sm hidden-xs">
		<h2>Basic Information</h2>
		<p>Class Time: MoWe 9:30-10:50</p>
		<p>Class Location: PCB 1200</p>
		<p>Perusall: <a href="https://app.perusall.com/courses/in4matx-251-cscw/">https://app.perusall.com/courses/in4matx-251-cscw</a></p>
		<p>Canvas: <a href="https://canvas.eee.uci.edu/courses/62681">https://canvas.eee.uci.edu/courses/62681</a></p>
		<p>Email: <a href="epstein@ics.uci.edu">epstein@ics.uci.edu</a></p>
		<p>Office hours: By appointment</p>
		<h2>Course Staff</h2>
		<a href="http://depstein.net">Professor Daniel Epstein</a>
	</aside>
	<main class="col-md-9 col-sm-12">
		<p>Welcome! This class focuses on research topics in Human-Computer Interaction (HCI), focused on developing appreciation for and extertise in different kinds of research contributions in HCI. HCI spans over four decades as a research field, evolving from understanding and improving computer use in traditional workplace settings to developing, studying, and critiquing the wide range of computing devices that people use in their everyday lives.</p>
		<p><strong>This course will require a substantial amount of reading</strong>, as well as analysis of literature and writing. While there will be a few lectures dedicated to giving background on the field, in most weeks we will instead look to understand the research literature through discussion.</p>
		<p>We will emphasize open discussion and feedback in all aspects of the course.</p>
		<h2>Learning Objectives</h2>
		<p>By the end of this course, you should be able to:</p>
		<ul>
			<li>Analyze the motivation and contribution of any Human-Computer Interaction research paper, describing how it extends the field of literature.</li>
			<li>Articulate how Human-Computer Interaction relates to other areas of research, both within Informatics and in academia at large.</li>
			<li>Develop proposals for research projects which develop new knowledge to one or more areas of Human-Computer Interaction.</li>
			<li>Appreciate different methods of inquiry, topics, and objectives used in different of Human-Computer Interaction research areas.</li>
		</ul>
		<h2>Grading</h2>
		<p>Grades will roughly correspond to:</p>
		<ul>
			<li>45% Assignments</li>
			<ul>
				<li>15% Reverse Outline</li>
				<li>15% Proposal 1</li>
				<li>15% Proposal 2</li>
			</ul>
			<li>35% Readings</li>
			<ul>
				<li>25% Reading reports</li>
				<li>10% Leading discussion</li>
			</ul>
			<li>20% Participation</li>
		</ul>
		<p>Details on the assignments can be found on the <a href="./assignments">Assignments page</a>. Details on the reading reports and discussion leading can be found on the <a href="./readings">Readings page</a>, with the assigned readings being on the <a href="./calendar">Calendar page</a>.</p>
		<p>Most of the grading in this course is necessarily subjective. We will attempt to communicate expectations and feedback throughout the course, but it is your responsibility to communicate with us if you would like guidance in this regard. Project milestone grading will emphasize progress and preparation to engage with direction and feedback. Final project report grading will then consider the overall execution.</p>
		<h2>Repository</h2>
		<p>This website is live on GitHub: <a href="https://github.com/uci-inf-232/inf232-wi24" target="_blank">https://github.com/uci-inf-232/inf232-wi24</a>. You can create issues if information is unclear, incorrect, or out-of-date. You can even submit a pull request to resolve them yourself!</p>
		<h2>Acknowledgments</h2>
		<p>Course structure and material was designed through conversations with others, including with <a href="https://eunicemjun.com/">Eunice Jun</a> and <a href="https://eagapie.com/">Elena Agapie</a>.</p>
	</main>
</div>