<main class="container-fluid">
   <h1>Project</h1>
   <p>A course project will be a major component of your work in this class. It will require hands-on experience with CSCW and Social Computing, while remaining open to different possibilities.</p>
   <p>Because you are still new to CSCW and Social Computing research, we do not necessarily expect you to produce publishable work. Instead, the expectation is that you will do something <em>interesting</em>. It is then up to you to define <em>interesting</em> according to what you want to accomplish in this project, seeking appropriate feedback from the staff. For example, you might choose to:</p>
   <ul>
      <li>Design or implement a new piece of social technology.</li>
      <li>Design and execute an appropriately compelling study with implications for CSCW or social computing.</li>
      <li>Perform a feasibility analysis or pilot study to inform future research plans in the space of CSCW or social computing.</li>
      <li>Replicate an existing study or technology in the space of CSCW or social computing.</li>
      <li>Execute a sufficiently interesting design problem with a CSCW or social computing technology (i.e., focusing on design without regard to research novelty).</li>
   </ul>
   <p>We expect most students will do projects in groups of three. We will consider groups of two, and very strongly discourage individuals. Working in groups is a necessary part of doing research, and is also important for the logistics of this course.</p>
   <h2>Early Feedback</h2>
   <p>Course staff will be made available to meet and provide early feedback as desired. Meeting is optional. You can also email to request feedback or inquire about arranging another time to meet.</p>
   <h2>Project Deliverables</h2>
   <p>Project deliverables are defined in terms of a <em>proposal</em>, a <em>milestone</em>, and a <em>final report</em>. These are due:</p>
   <ul>
      <li *ngFor="let project of projects">
         {{project.title}}: {{project.dueShort}}
      </li>
   </ul>
   <p></p>
   <h3 id="proposal">Project Proposal</h3>
   <p>Your proposal will define your initial plan for this project. You can and should update this plan based on feedback, progress, and findings. But the proposal needs to demonstrate a robust initial plan for your project.</p>
   <p>You are welcome and even encouraged to align your project with your research or other goals outside this course. However, it is critical to define what you will accomplish in the course project. The course project must stand on its own.</p>
   <h4>Document</h4>
   <p>Prepare a 1 page document addressing the following points:</p>
   <ul>
      <li><strong>What is the problem or research question?</strong> What is the pain point you want to solve, the new capability you want to enable, or research you want to explore? Or, what makes the project interesting?
      </li>
      <li><strong>What existing understanding of the problem has been developed?</strong> For a research proposal, this will briefly cover the most important related work in the space you are exploring. For a design proposal, this will introduce existing solutions, why they fall short, and the potential opportunity.
      </li>
      <li><strong>What will the group plan to accomplish by the milestone? By the end of the quarter?</strong> You will be asked to revisit these plans during the milestone and final reports.
      </li>
      <li><strong>What might the group explicitly decide to omit?</strong> Progress requires compromise, as you cannot accomplish everything. Explain what aspects of the project you might choose to ignore or defer in this course. This is your opportunity to scope the project appropriately for this course.
      </li>
   </ul>
   <h4>Submission</h4>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'proposal'">
         <p>Due {{project.dueLong}}.</p>
         <p>Submit your proposal document in PDF format: <a [href]="project.link.document">{{project.link.document}}</a></p>
      </div>
   </span>
   <h3 id="milestone">Milestone Report</h3>
   <p>The milestone report serves as a check on the trajectory of your project and an opportunity for feedback and guidance. Convey the state of your project and your plans for the remainder of the quarter.</p>
   <h4>Document</h4>
   <p>Prepare a 1 page document addressing the following points:</p>
   <ul>
      <li>What you have done to this point, discussing current progress relative to previously stated plans.</li>
      <li>What you will do before the final report, including any adaptations based on your status or findings.</li>
      <li>Any areas where you could use advice or are blocked. It may help to reference a part of your appendix.</li>
   </ul>
   <p>Feel free to include any materials relevant to your progress as an appendix (e.g., does not count toward the 1 page limit). Example materials would be screenshots from a current prototype, mockups of an in-progress design, an interview or survey protocol, or bulleted notes from a literature review. You can also link to external materials better accessible outside of a document (e.g., a GitHub repository, a live interactive wireframe).</p>
   <h4>Submission</h4>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'milestone'">
         <p>Due {{project.dueLong}}.</p>
         <p>Submit your milestone document in PDF format: <a [href]="project.link.document">{{project.link.document}}</a></p>
         <p>Submit your milestone presentation in PDF, PPTX, or KEY format: <a [href]="project.link.presentation">{{project.link.presentation}}</a></p>
      </div>
   </span>
   <h3 id="finalpresentation">Final Presentation</h3>
   <p>Each project will give a short in-class presentation on their final project. Aim for a 7-minute presentation. This should convey appropriate content in the general structure of a research presentation:</p>
   <ul>
      <li>Introduction and motivation</li>
      <li>Statement of contributions</li>
      <li>Methods</li>
      <li>Results</li>
      <li>Discussion, future work, and conclusion</li>
   </ul>
   <p>This is intended to focus on appropriately conveying what has been accomplished in the course. After this primary content, additionally reflect on:</p>
   <ul>
      <li>Opportunities or lessons regarding publication-level research in this project</li>
      <li>Broader insights or opportunities regarding CSCW or Social Computing research</li>
   </ul>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'finalpresentation'">
         <p>Due {{project.dueLong}}.</p>
         <p>No submission needed. Come to class prepared to give your presentation off of a laptop or the room PC.</p>
      </div>
   </span>
   <h3 id="finalreport">Final Report</h3>
   <p>Prepare a final report that is 4 to 10 pages in length, excluding references.</p>
   <p>Your final report should be presented in the same general structure as the papers you read this quarter:</p>
   <ul>
      <li>Introduction and Motivation</li>
      <li>Statement of Contributions</li>
      <li>Related Work</li>
      <li>Description / Methods / Results</li>
      <li>Discussion / Future Work / Conclusion</li>
   </ul>
   <p>Write according to the content you have. Be appropriate thorough and precise in your presentation, but do not needlessly pad your text.</p>
   <p>Use the ACM Template Format: <a href="https://www.acm.org/publications/taps/word-template-workflow">https://www.acm.org/publications/taps/word-template-workflow</a>. You may need to install fonts included in the template download (e.g., Linux Biolinum). You may use either Word or LaTeX to prepare your paper, following the Submission Template (Word) or the Master Article Template (LaTeX). Do not spend substantial time trying to correct formatting inconsistencies, just do your best.</p>
   <p>Additional guidance regarding effective paper writing can be found in:</p>
   <p>Jacob O. Wobbrock. <a href="https://faculty.washington.edu/wobbrock/pubs/Wobbrock-2015.pdf">Catchy Titles Are Good: But Avoid Being Cute</a>. Writing Advice, White Paper, 2015.</p>
   <h4>Submission</h4>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'finalreport'">
         <p>Due {{project.dueLong}}.</p>
         <p>Submit your final report in PDF format: <a [href]="project.link">{{project.link}}</a></p>
      </div>
   </span>
</main>